<% content_for :header do %>
    <h1>Bodega G7 %></h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-files-o"></i> Home</a></li>
      <li><a href="#">Bodegas</a></li>
      <li class="active">Bodega G7</li>
    </ol>
<%end%>

<% content_for :content do %>
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Productos</h3>
    </div>
    <div class="box-body">
      <table class="table table-hover search-table">
        <thead>
        <tr>
          <th>SKU</th>
          <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <% @Productos.each do |producto| %>
            <tr>
              <td><%= producto.sku %></td>
              <td><%= Bodega.checkStock(producto.sku) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div><!-- /.box-footer-->
  </div><!-- /.box -->

<%end%>