<h1>Bodega: <%= @Bodega.name %></h1>
<h2>Productos:</h2>

<table>
  <thead>
  <tr>
    <th>SKU</th>
    <th>Cantidad</th>
  </tr>
  </thead>
  <tbody>
  <% @Bodega.productos.each do |producto| %>
      <tr>
        <td><%= producto.sku %></td>
        <td><%= producto.where(sku: @skuAsked).count %></td>
      </tr>
  <% end %>
  </tbody>
</table>