 <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">

    <div class="col-md-8 col-sm-7" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"> Hubo un problema en tu compra </h1>

          <h3 class="product-title" itemprop="name"> Eliminamos la boleta: <%= @idBoleta %> de nuestra base.</h3>

          <div id="cart-form" data-hook="cart_form">
          </div>
        </div>

        <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
        </div>
      </div>
    </div>
  </div>