<% content_for :header do %>
    <h1>Tweet created </h1>
<%end%>

<% content_for :content do %>

	<div>
	      <% if current_twitter_user %>
	        Signed in as <strong><%= current_twitter_user.name %></strong>!
	        <%= link_to "Sign out", signout_path, id: "sign_out" %>
	      <% else %>
	        <%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
	      <% end %>
    </div>
    <div>
    	<h1>Success!</h1>
		<p>Your tweet has been sent!</p>
		<%= link_to "Would you like to send another?", social_networks_newTweet_path %>
	</div>


<%end%>
