<% content_for :header do %>
    <h1>Twitter identification </h1>
<%end%>

<% content_for :content do %>

	<div>
    <% if current_twitter_user %>
        Signed in as <strong><%= current_twitter_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
        <%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
    <% end %>
	</div>

  <div>
    <% if !current_twitter_user.nil? %>
    		<p>Click The link below to send a tweet.</p>
    		<%= link_to "Post on social media", "/social/newPost" %>
		<% else %>
    		<p>You must log in to send tweets.</p>
		<% end %>
	</div>


<%end%>