<% content_for :header do %>
    <h1>Tweet Send </h1>
<%end%>

<% content_for :content do %>
<form action='/facebook/article' method='post'>
  <fieldset><legend>Facebook Post</legend>
  
  <input type='text' placeholder='Title is optional' name='title' required=required /><br>
  <input type='url' placeholder='Page Link' name='page_link' /><br>
  <input type='text' placeholder='Link Name' name='link_name'/><br>
  <textarea type='text' placeholder='Description' name='description'></textarea><br>
  <input type='url' placeholder='Image url' name='url'/><br>
  <input type="submit" value = "post" />
  </fieldset>
</form>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1210610395625557',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

	


<%end%>