<% content_for :header do %>
    <h1>Post created </h1>
<%end%>

<% content_for :content do %>

		<h1>Success!</h1>
		<p>Your post has been published on twitter and facebook!</p>
		<%= link_to "Would you like to send another?", "/social" %>
	

<%end%>
